<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="cotainer">
    <div class="rov">
      <div class="col">

        <h2>Welcome</h2>
        <!--Step 1 : Adding HTML-->
        <form action="/action_page.php">
          <div class="imgcontainer">
            <img src="https://img.ruten.com.tw/s1/c/ba/23/21924722571811_763.jpg" alt="Avatar"
              class="avatar">
          </div>

          <div class="container">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit"(click)="login()">Login</button>
            <input type="checkbox" checked="checked"> Remember me
          </div>

          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
        </form>

        <!-- <a mat-flat-button onclick="location.href='http://localhost:4200/home'" target="_blank">Link</a> -->
      </div>
    </div>
  </div>
</body>

</html>
